.register{
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.inputs{
    padding: 5px;
}
.inputs input{
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 3px;
    color: #333333;
    box-sizing: border-box;
}

.btn-form{
    padding: 8px 5px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}


.btnn--save{
    width: 100%;
    background: #198754;
    margin-bottom: 3px;
}
.btn--save:hover{
    color: #fff;
}
