.plus{
    position: relative;
    top: 15px;
    right: -82.8%;
    padding: 10px 10px 7px 10px;
    background: #198754;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
} 
 
 
 /* start of table data styles*/
 .table{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}
.table__data{
    width: 100%;
    border-collapse: collapse;
}
.table__header{
    border-bottom: 2px solid #333333;
}
.table__header tr th{
    padding: 10px;
    text-align: justify;
}
.table__body tr td{
    padding: 10px;
    text-align: justify;
}
.btn{
    margin-right: 5px;
    padding: 7px 7px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
}
.btn--edit{
    background: #0d6efd;
}
.btn--delete{
    background: #dc3545;
}
 /*start of register form styles*/
 /*.form__container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}*/

.form__container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s;
}

.user__register{
    width: 20%;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    transition: .8s;
    transform: translateY(-210%);
}

.title{
    padding: 5px;
    color: black;
    border-bottom: 2px solid #ccc;
    margin-bottom: 8px;
 }
 .title h1{
     text-align: center;
     font-weight: 100;
 }
 .inputs{
     padding: 5px;
 }
 .inputs input{
     width: 100%;
     margin-bottom: 8px;
     padding: 5px;
     outline: none;
     border: 2px solid #ccc;
     border-radius: 3px;
     color: #333333;
     box-sizing: border-box;
 }

  /*end of register form styles */
    .show__modal{
        transform: translateY(0%);
    }
    .show_modal__container{
        opacity: 1;
        visibility: visible
    }
    .wrap-btn__save{
        border-top: 1px solid #ccc;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    .btn-form{
        padding: 8px 5px;
        width: 100%;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        transition: .4s ;
    }
    .btn--save{
        width: 49%;
        background: #198754;
        margin-bottom: 3px;
    }
    .btn--save:hover{
        color: #fff;
    }
    .btn--cancel{
        background:  #cd3545;
        width: 49%;
        margin-bottom: 3px;
    }
    .btn--cancel:hover{
        color: #fff;
    }

    .message_error {
        color: #bf1650;
        margin: 0;
    }

    .message__success{
        margin: 0px 5px 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(231, 227, 235);
        display: none;
    }

    .show__message-success{
        display: block;
    }
      